<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Super Hero</title>
  </head>
  <body>
    <h1><%= @team_name %></h1>


    <h2>Team Motto: <%= @team_motto %></h2>

    <h2>Hero Name: <%= @member1 %></h2>
      Hero Power: <%= @member1_power %>
      <br>Hero Biography: <%= @member1_bio %>
    <h2>Hero Name: <%= @member2 %></h2>
      Hero Power: <%= @member2_power %>
      <br>Hero Biography: <%= @member2_bio %>
    <h2>Hero Name: <%= @member3 %></h2>
      Hero Power: <%= @member3_power %>
      <br>Hero Biography: <%= @member3_bio %>

  </body>
</html>
